In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv(r"C:\Users\GOPI\Downloads\autos.csv",sep=",",encoding="latin-1")

In [3]:
data.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [4]:
# 1) The memory usage of the data is around 6.1 mb.How can we reduce the memory usage of the data set?
data['yearofregistration'] = data['yearofregistration'].astype('int32')
data['powerPS'] = data['powerPS'].astype('int32')
data['kilometer'] = data['kilometer'].astype('int32')
data['dollar_price'] = data['dollar_price'].astype('float32')

KeyError: 'year_of_registration'

In [16]:
data.drop(["nrOfPictures"],axis=1,inplace=True)

In [17]:
data.drop(["dateCrawled"],axis=1,inplace=True)

In [24]:
data.drop(["postalCode"],axis=1,inplace=True)

In [ ]:
data.drop(["dateCreated"],axis=1,inplace=True)

In [ ]:
data.drop(["lastseen"],axis=1,inplace=True)

In [26]:
data["price"]=data["price"].astype(np.int32)

In [27]:
data["kilometer"]=data["kilometer"].astype(np.int32)

In [28]:
data["monthOfRegistration"]=data["monthOfRegistration"].astype(np.int8)

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   name                 371528 non-null  object
 1   seller               371528 non-null  object
 2   offerType            371528 non-null  object
 3   price                371528 non-null  int32
 4   abtest               371528 non-null  object
 5   vehicleType          333659 non-null  object
 6   yearOfRegistration   371528 non-null  int64
 7   gearbox              351319 non-null  object
 8   powerPS              371528 non-null  int64
 9   model                351044 non-null  object
 10  kilometer            371528 non-null  int32
 11  monthOfRegistration  371528 non-null  int8
 12  fuelType             338142 non-null  object
 13  brand                371528 non-null  object
 14  notRepairedDamage    299468 non-null  object
 15  lastSeen             371528 non-null  object
dtypes: int32(2), int64(2), int8(1), object(11)
memory usage: 40.0+ MB

In [30]:
data.columns

Index(['name', 'seller', 'offerType', 'price', 'abtest', 'vehicleType',
       'yearOfRegistration', 'gearbox', 'powerPS', 'model', 'kilometer',
       'monthOfRegistration', 'fuelType', 'brand', 'notRepairedDamage',
       'lastSeen'],
      dtype='object')

In [32]:
#  2) What is the Average price of vehicle by fuel type and gearbox type.Give a plot
index_names=data[data["price"]>2000000].index

In [33]:
data=data.drop(index_names,inplace=True)

In [35]:
data

In [44]:
avg=data.groupby([["fuelType","gearbox"]])["price"].mean()

AttributeError: 'NoneType' object has no attribute 'groupby'

In [37]:
avg_price=np.round((data.groupby([["fuelType","gearbox"]])["price"].mean()),2)
avg_price.plot(kind="bar")
#sns.heatmap(average_prices, cmap='coolwarm', annot=True, fmt=".2f", linewidths=.5)
plt.xlabel('fueltype and GearboxType')
plt.ylabel('Avg price')
plt.title('Average Price of Vehicles by Fuel Type and Gearbox Type')
plt.show()

AttributeError: 'NoneType' object has no attribute 'groupby'

In [11]:
# 3) What is the Average power of a vehicle by vehicle type and gearbox type.Give a plot
 data.groupby(['vehicleType','gearbox'])['powerPS'].mean().unstack()

IndentationError: unexpected indent (810435329.py, line 2)

In [38]:
avg_power=data.groupby(["vehicleType","gearbox"])["powerPS"].mean()
avg_power.plot(kind="bar")
#sns.heatmap(average_power, cmap='coolwarm', annot=True, fmt=".2f", linewidths=.5)
plt.xlabel('Vehicletype and gearbox')
plt.ylabel('Avg power')
plt.title('Average Power of Vehicles by Vehicle Type and Gearbox Type')
plt.show()

AttributeError: 'NoneType' object has no attribute 'groupby'

In [43]:
#4) What is the Average price of a vehicle by brand as well as vehicle type.Use heatmap to explain this
d=data.groupby(['brand','vehicleType'])
d["price"].mean()

AttributeError: 'NoneType' object has no attribute 'groupby'

In [46]:
avg_price=pd.DataFrame(pd.crosstab(index=data["brand"],columns=data["vehicleType"],values=data["price"],aggfunc=["mean"]))

TypeError: 'NoneType' object is not subscriptable

In [ ]:
avg_price.fillna(0,inplace=True)

In [47]:
avg_price

NameError: name 'avg_price' is not defined

In [15]:
plt.figure(figsize=(12, 8))
sns.heatmap(average_prices, cmap='coolwarm', annot=True, fmt=".2f", linewidths=.5)
plt.xlabel('Vehicle Type')
plt.ylabel('Brand')
plt.title('Average Price of Vehicles by Brand and Vehicle Type')
plt.show()

NameError: name 'average_prices' is not defined