In [1]:
import numpy as np
import pandas as pd

In [3]:
matches=pd.read_csv(r"C:\Users\GOPI\Downloads\matches.csv-20231125T054452Z-001.zip")

In [4]:
delivaries=pd.read_csv(r"C:\Users\GOPI\Downloads\deliveries.csv-20231125T054525Z-001.zip")

In [32]:
delivaries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [5]:
matches

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [6]:
df=pd.DataFrame(left=match_id, right=id)

NameError: name 'match_id' is not defined

In [8]:
delivaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [17]:
#  City which hosted most number of seasons according to the da
matches["season"].value_counts()

2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2018    60
2019    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

In [18]:
# Which year has the most number of matches played?
matches["city"].value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Abu Dhabi           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: city, dtype: int64

In [21]:
# Maximum wins by Mumbai Indians in 2011 are
len(matches.loc[(matches["winner"]=="Mumbai Indians") & (matches["season"]==2011)])

10

In [22]:
# For 'toss_decision' feature what kind of plot is suitable?
matches["toss_decision"].unique()

array(['field', 'bat'], dtype=object)

In [27]:
# What is the percentage of getting bat and field in feature 'toss_descision'?
matches["toss_decision"].value_counts()

field    463
bat      293
Name: toss_decision, dtype: int64

In [30]:
field=np.percentile(m,range(1,100))
bat=np.percentile(m,range(1,100))

In [31]:
463/100

4.63

In [35]:
#  In which years where taking batting second have won more number of matches?
matches.loc[(matches["toss_decision"]=="field") & matches["toss_winner"].value_counts(),["season"]]

Empty DataFrame
Columns: [season]
Index: []

In [43]:
#Most number of wickets taken by a bowler is
delivaries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [40]:

g=delivaries.groupby("bowler")

405

In [44]:
# In 2019 which batsman scored highest number of runs by hitting 6's and 4's?
delivaries.loc[(delivaries["season"]==2019)(delivaries["bowler"]=="Harbhajan Singh") & ((delivaries["batsman_runs"]==4) | (delivaries["batsman_runs"]==4))]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
1503,7,1,Kolkata Knight Riders,Mumbai Indians,13,2,MK Pandey,SA Yadav,Harbhajan Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
1515,7,1,Kolkata Knight Riders,Mumbai Indians,15,2,SA Yadav,MK Pandey,Harbhajan Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
1519,7,1,Kolkata Knight Riders,Mumbai Indians,15,6,SA Yadav,MK Pandey,Harbhajan Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
2128,10,1,Sunrisers Hyderabad,Mumbai Indians,3,1,DA Warner,S Dhawan,Harbhajan Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
2129,10,1,Sunrisers Hyderabad,Mumbai Indians,3,2,DA Warner,S Dhawan,Harbhajan Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178637,11414,1,Delhi Capitals,Chennai Super Kings,8,4,C Munro,SS Iyer,Harbhajan Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
178638,11414,1,Delhi Capitals,Chennai Super Kings,8,5,C Munro,SS Iyer,Harbhajan Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
178854,11415,1,Mumbai Indians,Chennai Super Kings,4,6,RG Sharma,Q de Kock,Harbhajan Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
178896,11415,1,Mumbai Indians,Chennai Super Kings,11,3,AS Yadav,Ishan Kishan,Harbhajan Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
178899,11415,1,Mumbai Indians,Chennai Super Kings,11,6,Ishan Kishan,AS Yadav,Harbhajan Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [48]:
# Bowlers with maximum number of extras:
delivaries.groupby("bowler").max("extra_runs")

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
bowler,,,,,,,,,,,,,
A Ashish Reddy,584,2,20,7,0,3,1,1,1,0,6,3,6
A Chandila,436,2,17,6,0,0,0,2,0,0,6,2,6
A Choudhary,45,2,19,8,0,1,0,0,1,0,6,1,6
A Dananjaya,7902,2,15,7,0,1,0,0,0,0,6,1,6
A Flintoff,125,2,20,6,0,0,1,0,0,0,6,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
YA Abdulla,181,2,20,8,0,1,1,1,1,0,6,1,6
YK Pathan,11310,2,20,9,0,5,1,2,0,0,6,5,6
YS Chahal,11345,2,20,9,0,5,4,3,1,0,6,5,10
Yuvraj Singh,7911,2,19,7,0,1,4,1,1,0,6,4,6
Z Khan,632,2,20,9,0,5,4,4,1,0,6,5,6

In [55]:
#What are the total runs scored by V Kohli when the bowler was JJ Burmah?
delivaries.loc[(delivaries["batsman"]=="V Kohli") & (delivaries["bowler"]=="JJ Bumrah"),["total_runs"]].sum()

total_runs    114
dtype: int64

In [56]:
#Across all seasons which player was dismissed the maximum number of times via caught and bowled
delivaries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [58]:
delivaries["player_dismissed"].value_counts()

SK Raina      162
RG Sharma     155
RV Uthappa    153
V Kohli       143
S Dhawan      137
             ...
S Randiv        1
R Ninan         1
B Sumanth       1
C Madan         1
S Singh         1
Name: player_dismissed, Length: 487, dtype: int64

In [ ]:
#which player has the highest hard-hitting ability